[Unit]
Description=Sense HAT Raspberry Pi REST API
After=network.target 

[Service]
ExecStart=/usr/bin/sense-hat-rest.py 8080
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
Alias=sense-hat-rest.service
